@use "../partials/mixins" as m;
@use "../partials/variables" as v;
@use "../partials/functions" as f;

.admin-layout {
    display: flex;
}
  
.admin-sidebar {
    display: none;

    @media screen and (min-width: f.screen("desktop-up")) {
        display: block;
        background-color: var(--dark-grey);
        position: sticky;
        top: 0;
        height: 100vh;
        max-width: f.rem(250);

        html.light & {
			background-color: var(--grey-light);
			color: var(--text-dark);
		  }
    
        &__user {
            font-weight: bold;
        }
    
        &__search {
            width: 80%;       
            border: none;

            html.light & {
                border: 1px solid var(--grey);
              }
        }
    
        &__item {
            margin-bottom: 0.75rem;
        }
    
        &__link {
            color: var(--text-light);
            text-decoration: none;
            display: block;
            padding: 0.5rem;
            border-radius: f.rem(4);
            transition: background 0.3s;
    
            &:hover {
                background-color: var(--darkGrey);
            }

            html.light & {
                background-color: var(--bg-light);
                color: var(--text-dark);

                &:hover {
                    background-color: var(--dark-grey);
                    color: var(--text-light);
                }
              }
        }
    }
}
  
.admin-main {
    flex: 1;
    background-color: var(--grey);

    html.light & {
        background-color: var(--grey-light);
        
      }
    
}
  
.admin-dashboard {
    
    &__cards {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(f.rem(220), 1fr));
    }
}
  
.admin-card {
    background: var(--bg-light);
    border-radius: f.rem(8);
    padding: 1rem;
    box-shadow: 0 f.rem(2) f.rem(6) rgba(0, 0, 0, 0.05);
    color: var(--text-dark);
    // width: f.rem(200);
    min-width: 0; 
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;

    html.light & {
        background-color: transparent;
        color: var(--text-dark);
        border: 1px solid var(--black);
      } 
  
    &__title {
      font-size: 1.2rem;
      text-align: center;
    }
  
    &__info {
      font-size: 0.95rem;
      color: var(--text-dark);
      text-align: center;
      word-break: break-word; 
    }
}
  
.admin-note {
width: f.rem(350);
  
    &__form {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
  
    &__input,
    &__textarea {
        border-radius: f.rem(6);
        border: 1px solid var(--grey-light);
        background-color: var(--bg-light);
        color: var(--text-dark);
        outline: none;    
    }
}
  
  