@use "../partials/mixins" as m;
@use "../partials/variables" as v;
@use "../partials/functions" as f;

.auth {
    &__container {
     @include m.resetAuth;
 }
 
   &__title {
     text-align: center;
   }
 
   &__form {
     display: flex;
     flex-direction: column;
   }
 
   &__text {
    display: flex;
     text-align: center;
     align-items: center;
   }

   &__check {

    display: flex;
    align-items: center;
   }
 }