@use "../partials/mixins" as m;
@use "../partials/variables" as v;
@use "../partials/functions" as f;

@layer components {

.button {
	@include m.resetButton;

  // Modificateurs de couleur
  &-primary {
    background-color: var(--primary);
    color: var(--text-dark);

    &:hover {
      background-color: var(--primary-hover);
	    color: var(--text-dark);
    }
  }

  &-secondary {
    background-color: var(--bg-dark); 
    color: var(--text-light);
	  border: 1px solid var(--primary);

    &:hover {
      background-color: var(--bg-light); 
      color: var(--text-dark);
    }
  }

  // Tailles
  &-xs {
    padding: f.rem(4) f.rem(8);
    font-size: f.rem(12);
  }

  // Taille S
  &-s {
    padding: f.rem(6) f.rem(12);
    font-size: f.rem(14);
  }

  // Taille M (par défaut ou médium)
  &-m {
    padding: f.rem(10) f.rem(16);
    font-size: f.rem(16);
  }

  // Taille L
  &-l {
    padding: f.rem(14) f.rem(20);
    font-size: f.rem(18);
  }

  // Taille XL
  &-xl {
    padding: f.rem(18) f.rem(24);
    font-size: f.rem(20);
  }

  // Désactivé
  // &--disabled {
  //   opacity: 0.6;
  //   pointer-events: none;
  // }
}

}