@use "../partials/mixins" as m;
@use "../partials/variables" as v;
@use "../partials/functions" as f;

.header {
    @include m.headerReset;

    // html.light & {
		// 	background-color: var(--grey-light);
		// 	color: var(--text-dark);
		// }
   
    &__container {
      @media screen and (min-width: f.screen("desktop-up")) {
      @include m.flexbox(row, nowrap, space-between, center, f.rem(0));
    //   html.light & {
		// 	background-color: var(--grey-light);
		// 	color: var(--text-dark);
		// }
   
      }
    }
   
    &__left,
    &__right {  
      @media screen and (min-width: f.screen("desktop-up"))  {
        display: flex;
        align-items: center;

        
      }
    }
    
    &__logo {
      display: flex;
      justify-content: center;
      
      img {
        height: 6rem;
      }
    }
    
    &__nav-list,
    &__auth-list {
      display: none;

      @media screen and (min-width: f.screen("desktop-up"))  {
        display: flex;
        list-style: none;
        margin: 0;
        text-transform: none;
      }

      a {

        &:hover {
          background-color: var(--bg-dark);
          color:var(--primary-hover) ;
        }

        html.light & {
          &:hover {
            background-color: transparent;
            color:var(--primary-hover) ;
          }
		    } 
      }
    }
  }
    