@use "../partials/mixins" as m;
@use "../partials/variables" as v;
@use "../partials/functions" as f;

.typo {

  &-xs { font-size: f.rem(12); }
  &-sm { font-size: f.rem(14); }
  &-m  { font-size: f.rem(16); }
  &-l  { font-size: f.rem(20); }
  &-xl { font-size: f.rem(26); }
  &-xl { font-size: f.rem(32); }

  @media screen and (min-width: f.screen("desktop-up")) {
    &-xs { font-size: f.rem(14); }
    &-sm { font-size: f.rem(16); }
    &-m  { font-size: f.rem(18); }
    &-l  { font-size: f.rem(24); }
    &-xl { font-size: f.rem(36); }
    &-xxl { font-size: f.rem(48); }
  }

  &-primary   { color: white; }
  &-secondary { color: #f47521; }
  &-third     { color: blue; }
  &-fourth     { color: grey; }
  &-green     { color: #19AA79; }
  &-bg { background-color:var(--bg-header); }

  html.light & {
    &-primary   { color: black; }
    &-secondary { color: black; }
    &-bg { background-color: var(--grey-light); }
    &-green     { color: black; }
  }

}
